<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    coreApp="true"
    package="com.german.keyboard.app.free">

    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <permission
        android:name="com.german.keyboard.app.free.HIDE_SOFT_INPUT"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:defaultToDeviceProtectedStorage="true"
        android:directBootAware="true"
        android:exported="true"
        android:extractNativeLibs="false"
        android:icon="@drawable/german_icon_ic"
        android:label="@string/english_ime_name"
        android:roundIcon="@drawable/german_icon_ic"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:node="merge">
        <activity
            android:name="com.german.keyboard.app.free.changes.PrivacyPolicy"
            android:exported="true" />
        <activity
            android:name=".inputmethod.changes.ThemeActivity"
            android:exported="true" />

        <service
            android:name="com.german.keyboard.app.free.latin.LatinIME"
            android:exported="true"
            android:permission="android.permission.BIND_INPUT_METHOD"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>
        <service
            android:name="com.german.keyboard.app.free.latin.spellcheck.AndroidSpellCheckerService"
            android:exported="true"
            android:label="@string/spell_checker_service_name"
            android:permission="android.permission.BIND_TEXT_SERVICE"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.service.textservice.SpellCheckerService" />
            </intent-filter>

            <meta-data
                android:name="android.view.textservice.scs"
                android:resource="@xml/spellchecker" />
        </service> <!-- Activities -->

        <activity
            android:name="com.german.keyboard.app.free.latin.setup.SetupWizardActivity"
            android:clearTaskOnLaunch="true"
            android:exported="true"
            android:label="@string/english_ime_name"
            android:theme="@style/platformActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.german.keyboard.app.free.changes.Splash_Screen_Activity"
            android:exported="true"
            android:icon="@drawable/german_icon_ic"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.german.keyboard.app.free.latin.permissions.PermissionsActivity"
            android:exported="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.german.keyboard.app.free.latin.settings.SettingsActivity"
            android:exported="true"
            android:label="@string/english_ime_settings"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.german.keyboard.app.free.latin.spellcheck.SpellCheckerSettingsActivity"
            android:exported="true"
            android:label="@string/android_spell_checker_settings"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity> <!-- Unexported activity used for tests. -->
        <activity
            android:name="com.german.keyboard.app.free.changes.Premium"
            android:exported="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.german.keyboard.app.free.changes.Main_Activity"
            android:exported="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.german.keyboard.app.free.changes.TestActivity"
            android:exported="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.german.keyboard.app.free.latin.settings.TestFragmentActivity"
            android:exported="true"
            android:theme="@style/AppTheme" /> <!-- Broadcast receivers -->
        <receiver
            android:name="com.german.keyboard.app.free.latin.SystemBroadcastReceiver"
            android:exported="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_INITIALIZE" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.german.keyboard.app.free.latin.DictionaryPackInstallBroadcastReceiver"
            android:exported="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name=".latin.dictionarypack.aosp.UNKNOWN_CLIENT" />
            </intent-filter>
        </receiver> <!-- Content providers -->
        <provider
            android:name=".inputmethod.dictionarypack.DictionaryProvider"
            android:authorities="@string/authority"
            android:exported="true"
            android:grantUriPermissions="true"
            android:label="@string/dictionary_provider_name"
            android:multiprocess="false"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8046980262605578~2073671055" />
    </application>

</manifest>