<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    coreApp="true"
    package="io.github.otobikb.inputmethod.latin">

    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />
    <!--
 A signature-protected permission to ask AOSP Keyboard to close the software keyboard.
         To use this, add the following line into calling application's AndroidManifest.xml
         <pre>
         {@code
         <uses-permission android:name="io.github.otobikb.inputmethod.latin.HIDE_SOFT_INPUT"/>
         }
         </pre>
         then call {@link android.content.Context#sendBroadcast(Intent)} as follows:
         <pre>
         {@code
         sendBroadcast(new Intent("io.github.otobikb.inputmethod.latin.HIDE_SOFT_INPUT")
                 .setPackage("io.github.otobikb.inputmethod.latin"));
         }
         </pre>
    -->
    <permission
        android:name="io.github.otobikb.inputmethod.latin.HIDE_SOFT_INPUT"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:defaultToDeviceProtectedStorage="true"
        android:directBootAware="true"
        android:extractNativeLibs="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/english_ime_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">

        <activity
            android:name="io.github.otobikb.changes.ThemeTabBar"
            android:theme="@style/AppTheme"
            android:exported="true" />
        <activity
            android:name="io.github.otobikb.changes.HowToUse"
            android:theme="@style/AppTheme"
            android:exported="true" />
        <activity
            android:name="io.github.otobikb.changes.Premium"
            android:theme="@style/AppTheme"
            android:exported="true" />
        <activity
            android:name="io.github.otobikb.changes.PrivacyPolicy"
            android:theme="@style/AppTheme"
            android:exported="true" />
        <activity
            android:name="io.github.otobikb.changes.TestActivity"
            android:theme="@style/AppTheme"
            android:exported="true" />


        <service
            android:name=".LatinIME"
            android:label="@string/english_ime_name"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>
        <service
            android:name=".spellcheck.AndroidSpellCheckerService"
            android:label="@string/spell_checker_service_name"
            android:permission="android.permission.BIND_TEXT_SERVICE">
            <intent-filter>
                <action android:name="android.service.textservice.SpellCheckerService" />
            </intent-filter>

            <meta-data
                android:name="android.view.textservice.scs"
                android:resource="@xml/spellchecker" />
        </service> <!-- Activities -->
        <activity
            android:name=".setup.SetupActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/english_ime_name"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/platformActivityTheme">

        </activity>

        <activity
            android:name="io.github.otobikb.changes.MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".permissions.PermissionsActivity"
            android:exported="false"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".setup.SetupWizardActivity"
            android:clearTaskOnLaunch="true"
            android:label="@string/english_ime_name"
            android:theme="@style/platformActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/english_ime_settings"
            android:theme="@style/platformSettingsTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".spellcheck.SpellCheckerSettingsActivity"
            android:label="@string/android_spell_checker_settings"
            android:theme="@style/platformSettingsTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity> <!-- Unexported activity used for tests. -->
        <activity
            android:name=".settings.TestFragmentActivity"
            android:exported="false" /> <!-- Broadcast receivers -->
        <receiver android:name=".SystemBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_INITIALIZE" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".DictionaryPackInstallBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="io.github.otobikb.inputmethod.dictionarypack.aosp.UNKNOWN_CLIENT" />
            </intent-filter>
        </receiver> <!-- Content providers -->
        <provider
            android:name="io.github.otobikb.inputmethod.dictionarypack.DictionaryProvider"
            android:authorities="@string/authority"
            android:exported="false"
            android:grantUriPermissions="true"
            android:label="@string/dictionary_provider_name"
            android:multiprocess="false" />


        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true"
            android:exported="true"/>
    </application>
</manifest>